<div class="container" style="text-align: center">
  <!-- <form (ngSubmit)="searchUser()"> -->
  <!-- <input type="text" name="name" [(ngModel)]="name"  placeholder="Search by name"> -->
  <!-- <button (click)="searchUser(name)">Search</button> -->
  <!-- <button type="submit" class="btn bg-warning">Get Search</button> -->
  <!-- </form> -->
  <h2 class="text-start mt-2">User List</h2>
  <div class="search-container text-start mt-3">
    <input
      class="search rounded border-1 p-1 search"
      type="text"
      [(ngModel)]="name"
      placeholder="enter name"
    />
    <button
      class="btn bg-warning ms-2"
      (click)="searchUser()"
      style="border-radius: 20px; width: 9%"
    >
      Search
    </button>
  </div>
</div>
<br />
<!-- <div>
      
  <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userid }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
<div class="container mt-5">
  <table
    class="table table-bordered table-stripped table-condensed table-hover"
  >
    <thead class="" style="background: antiquewhite">
      <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Email</th>
        <!-- <th>Edit</th> -->
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="" style="background: cornsilk">
      <tr *ngFor="let u of users">
        <td>{{ u.userid }}</td>
        <td>{{ u.username | uppercase }}</td>
        <td>{{ u.email }}</td>
        <!-- <td>
          <button
            class="btn btn-primary btn-md"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="edit(u)"
          >
            Edit
          </button>
        </td> -->
        <td>
          <button (click)="deleteUser(u.userid)" class="btn btn-danger btn-md">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update User Details</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="updateUser()">
          <div class="form-group">
            <label for="name"> User Id: </label>
            <input
              type="text"
              disabled
              #userid
              [(ngModel)]="userToUpdate.userid"
              name="userid"
              id="userid"
              class="form-control"
              placeholder="User Id"
            />
          </div>
          <div class="form-group">
            <label for="name"> User Name: </label>
            <input
              type="text"
              #username
              [(ngModel)]="userToUpdate.username"
              name="username"
              id="username"
              class="form-control"
              placeholder="User name"
            />
          </div>
          <div class="form-group">
            <label for="name"> Email: </label>
            <input
              type="text"
              #email
              [(ngModel)]="userToUpdate.email"
              name="email"
              id="email"
              class="form-control"
              placeholder="Email"
            />
          </div>
          <br />
          <div class="mb-3">
            <input
              type="submit"
              value="Update"
              class="btn btn-primary w-100"
              data-bs-dismiss="modal"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
