<body>
  <div class="container mt-5">
    <h2 class="text-center mt-2">Admin Dashboard</h2>

    <div class="content mt-5">
      <div class="nav-container">
        <div class="card-deck">
          <div class="card shadow bg-light text-center border-0 p-2">
            <div class="card-body">
              <h5 class="card-title">All Users</h5>
              <p class="card-text">
                View all users registered on the platform.
              </p>
              <a class="btn btn-warning w-100" routerLink="/users">View</a>
            </div>
          </div>
          <div class="card shadow bg-light text-center border-0 p-2">
            <div class="card-body">
              <h5 class="card-title">All Recipes</h5>
              <p class="card-text">Browse and manage all recipes.</p>
              <a class="btn btn-warning w-100" routerLink="/recipeTable"
                >View</a
              >
            </div>
          </div>
          <div class="card shadow bg-light text-center border-0 p-2">
            <div class="card-body">
              <h5 class="card-title">Feed Content</h5>
              <p class="card-text">Explore the feed content and updates.</p>
              <a class="btn btn-warning w-100" routerLink="/recipelist">View</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
