<!-- Navbar -->
<nav class="container navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img src="../../assets/logo.png" alt="" srcset="" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-3">
          <a class="nav-link" aria-current="page">Home</a>
        </li>
        <li class="nav-item ms-1">
          <a class="nav-link">Account</a>
        </li>
      </ul>
      <button class="btn btn-warning">Login/Register</button>
    </div>
  </div>
</nav>

<div class="container my-5">
  <!-- Intro page -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img
          class="img-fluid rounded-3"
          src="https://images.pexels.com/photos/6275111/pexels-photo-6275111.jpeg"
          alt="Food image"
        />
      </div>
      <div class="col-sm-6">
        <h1>Recipe APP</h1>
        <p>Some Description</p>
        <a class="btn btn-warning">Explore</a>
      </div>
    </div>
  </div>

  <!-- Recipe-List -->
  <div class="container">
    <div class="row row-cols-md-3 row-gap-5 mt-5">
      <div *ngFor="let r of recipes">
        <div class="card" style="width: 18rem">
          <img
            class="card-img-top"
            src="{{ r.image }}"
            alt="Card image cap"
            max-width="100%"
            max-height="100%"
          />
          <div class="card-body">
            <h5 class="card-title">{{ r.name }}</h5>
            <p class="card-text">{{ r.likes }}</p>
            <a class="card-link btn btn-warning" (click)="viewRecipeDetails(r)"
              >Read</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
