<app-navbar></app-navbar>
<h2>Welcome to recipe app</h2>
<!-- checking git -->
<div class="container my-5">
  <!-- Intro page -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          class="img-fluid rounded-3"
          src="https://images.pexels.com/photos/6275111/pexels-photo-6275111.jpeg"
          alt="Food image"
        />
      </div>
      <div
        class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center"
      >
        <h1 class="fw-bold display-4 mb-4">Recipe APP</h1>
        <p class="fs-5 mb-4">Some Description</p>
        <a class="btn btn-warning rounded-pill px-4 py-2">Explore</a>
      </div>
    </div>
  </div>
  <!-- Recipe-List -->
  <div class="container">
    <div class="row row-cols-md-3 g-4 mt-5">
      <div *ngFor="let r of recipes">
        <div class="card">
          <img
            class="card-img-top rounded-top"
            src="{{ r.image }}"
            alt="Card image cap"
          />
          <div class="card-body d-flex flex-column justify-content-between">
            <div>
              <h5 class="card-title">{{ r.name }}</h5>
              <p class="card-text">{{ r.likes }}</p>
            </div>
            <a
              class="card-link btn btn-warning rounded-pill px-4 py-2"
              (click)="viewRecipeDetails(r.recipeid)"
              >Read</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
