<form
  #addRecipeForm="ngForm"
  (ngSubmit)="addNewRecipe()"
  style="width: 50vw; margin: auto; margin-bottom: 10px; font-size: 14px"
>
  <h2 style="text-align: center">Share Your Recipe</h2>

  <label class="mt-1">Recipe Name</label>
  <input
    [(ngModel)]="rec.name"
    name="name"
    type="text"
    class="form-control"
    ngModel
  /><br />

  <label class="mt-1" for="ingredients">Ingredients</label>
  <textarea
    [(ngModel)]="rec.ingredients"
    name="ingredients"
    id="ingredients"
    rows="8"
    class="form-control"
  ></textarea>

  <label class="mt-1">Description</label>
  <textarea
    [(ngModel)]="rec.description"
    name="description"
    rows="8"
    class="form-control"
  ></textarea>
  <br />

  <label class="mt-1">preparationTime</label>
  <input
    [(ngModel)]="rec.preparationtime"
    name="preparationtime"
    type="text"
    class="form-control"
    ngModel
  /><br />

  <label class="mt-1">Images</label>
  <input
    [(ngModel)]="rec.images"
    name="images"
    type="text"
    class="form-control"
    placeholder="enter image url"
    ngModel
  /><br />

  <input
    [(ngModel)]="rec.userid"
    name="userid"
    type="text"
    class="form-control"
    ngModel
    hidden
  />
  <!-- onchange="console.log(event.target.files)" -->

  <button type="submit" class="btn btn-warning col-12 mt-2">
    Share Recipe
  </button>
</form>

<!-- Toast message -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    class="toast align-items-center text-bg-primary text-white border-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body text-white">Recipe added successfully</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto text-white"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
